@media only screen and (max-width: 320px) {
    
    .row {
        max-width: 360px;
    }
    .nav {
        width: 100%;
    }
    .header-nav {
        width: 100%;
        font-size: 8px;
        margin: 10px auto;
    }
    .header-nav li {
        margin-right: 8px;
    }
    .header-elements {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 10px;
    }
    .header-elements h1{
        font-size: 20px;
    }
    .header-elements h3 {
        font-size: 10px;
        margin-bottom: 20px;
    }
    .header-elements img {
        width: 100%;
    }